<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Project</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="/" style="font-size: 26px;"><em>Cars Lyfe</em></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav text-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs">Blog</a></li>
                        <li><a href="/articles/new">Create New Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="single-post">
        <div class="container">
            <article class="standard-post-format grid-box">
                <div class="single-post-head text-center">
                    <div class="post-title" style="margin-bottom: 5%;">
                        <h1>Add New Article</h1>
                    </div>
                    <form action="/articles" method="POST">
                        <%- include('_form_fields') %>
                    </form>
                </div>
            </article>


        </div>
    </section>
    <footer>
        <div class="container">
            <div class="follow_us">
                <a href="/" style="font-size: 26px;"><em>Cars Lyfe</em></a>
                <p style="color: black;">This is our Final Semester Project. Hope you'll like it. <br> Thank you <br>
                </p>
                <ul>
                    <li>Muhammad Uzair <b>|</b></li>
                    <li>Syed Attabik Ali Shah <b>|</b></li>
                    <li>Adil Naeem <b>|</b></li>
                    <li>Sheraz Hussain</li>
                </ul>
            </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>